<div>
    <a href="{{profile}}"> {{sending_parrot.name}} </a>
     {{#str}} sent_friendship_request, local_parrot_social {{/str}}
    <a href="{{parrot_friendship_requests_page}}"> {{#str}} click_to_see_more, local_parrot_social {{/str}} </a>
</div>