<div id="loader" class="position-fixed fixed-top fixed-bottom d-none" style="background-color: #21252925;">
    <div class="d-flex justify-content-center align-items-center w-100 h-100">
        <div class="lds-ripple">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>