<li class="list-group-item">
    <a href="/local/parrot_social/pages/parrot_profile.php?parrot_id={{parrot.parrot_id}}">
        <b>
            {{parrot.name}}
        </b>
    </a>
    {{{form_html}}}
</li>